{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}LetsHang{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<section class="jumbotron">
<body>
<form action="{% url "profile" %}" method="post"
  enctype="multipart/form-data">
  {% csrf_token %}
  <h2>Profile</h2>
  {{ form.as_p }}
  <p>
    <button type="submit">
      Save
    </button>
    <a href="/" class="btn btn-info" role="button">Go back home</a>
  </p>
</form>
</body>
</section>
</html>
{% endblock %}
