{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}LetsHang{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  <html lang="en">
  <head>
    <title>Selection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <section class="jumbotron">
  <div class="container">
    <h1 class="center-align" >Sorry!<br><br>There is no one to {{choice}} with at the moment. Please try again later!</h1>
    <!--<h2><br>Refresh the page every few seconds.</h2>-->
    <a href="/" class="btn btn-info" role="button">Go back home</a>

  </div>
  </section>
  </body>
  </html>
{% endblock %}
