<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Selection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <section class="jumbotron">
  <div class="container">
    <h1 class="center-align" >You have matched with {{other_user.user.username}}!<br><br>Please meet {{location}}.</h1>
    <p>
      <img src="{{ other_user.photo.url }}">
    </p>
    <a href="/" class="btn btn-info" role="button">Go back home</a>
  </div>
  </section>
  </body>
  </html>
